.data-point {
  cursor: pointer; }

.area-data-details {
  font-family: daybold;
  font-size: 1.5rem;
  padding: 0.2rem;
  color: bisque;
  border: 3px dotted #b0b0f7;
  background-color: black;
  border-radius: 0.5rem; }

text {
  font-size: 1.2rem;
  font-family: daybold; }

.compare-data-text {
  margin: 2.7rem auto; }

text {
  fill: #f8f9f9; }

.label {
  fill: red;
  margin: 1rem; }

.compare-data-text {
  margin: 0rem auto 2.7rem auto; }

.x-axis {
  position: absolute;
  left: 47.5%;
  top: 83%;
  font-family: daybold;
  font-size: 1.5rem;
  color: #5a5959;
  font-weight: 800; }

.y-axis {
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: fixed;
  left: 49%;
  font-size: 2rem;
  font-family: daybold;
  top: 65%;
  margin: -12.5rem 0 0 -12.5rem;
  background-color: #a5a3a3;
  border-radius: 0.8rem; }

.weekly-title {
  position: absolute;
  font-family: daybold;
  left: 49%;
  font-size: 1.7rem;
  top: 27%;
  color: whitesmoke; }

@media screen and (max-width: 650px) {
  .weekly-title {
    top: 21%; } }

@media screen and (max-width: 510px) {
  .compare-data-text {
    margin: 4rem auto 2.7rem auto; }
  svg {
    margin: 0 0 0 -2rem; }
  .y-axis {
    display: none; }
  .x-axis {
    display: none; }
  .weekly-title {
    top: 20%; } }
