.pom-instruction,
.stop-instruction {
  position: absolute;
  bottom: 38%;
  left: 47.5%;
  font-size: 1.2rem;
  font-family: daybold;
  color: azure;
  margin: -0.6rem 0 0 -0.6rem; }

.track-poms {
  font-family: daybold;
  font-size: 3rem;
  margin: 0.5rem 0 0 0;
  text-align: center;
  color: #d19e86; }

img {
  cursor: pointer; }

i {
  cursor: pointer; }

.pom-details {
  text-align: center; }

.socket-msg {
  position: absolute;
  font-size: 2.5rem;
  font-family: daybold;
  margin: -12.5rem 0 0 -12.5rem;
  left: 50%;
  width: 25rem;
  top: 30%;
  border-radius: 5px;
  background: #b19494; }

.modal-timer {
  z-index: 1;
  background-color: #c2b8b5;
  padding: 1rem;
  text-align: center; }

.fa-play-circle {
  color: #c2bcba;
  font-size: 4rem;
  margin: 5rem 2rem 1.5rem 2rem; }

.fa-stop-circle {
  color: #d19e86;
  font-size: 4rem;
  margin: 1rem 2rem; }

.pom-control {
  margin: auto;
  display: inline-block; }

.fa-stop-circle:hover {
  color: #833434;
  text-align: right; }

.modal {
  display: inline-block; }

.fa-play-circle:hover {
  color: #979290; }

.time {
  z-index: 1;
  background: #b19494;
  border: 2px dotted black;
  position: absolute;
  padding: 3rem 1.5rem;
  left: 48%;
  margin: -12.5rem 0 0 -12.5rem;
  top: 42%;
  font-family: daybold;
  font-size: 4.5rem;
  animation: fadein 1s;
  border-radius: 8px;
  max-width: 25rem;
  min-width: 25rem; }

.summary {
  position: absolute;
  animation: fadein 0.5s;
  font-family: daybold;
  font-size: 2rem;
  left: 49%;
  top: 55%;
  margin: -5rem 0 0 -5rem;
  color: #c2bcba; }

.abbr {
  font-size: 2rem;
  display: inline-block; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

i {
  font-size: 2rem; }

@media screen and (max-width: 510px) {
  .time {
    top: 37.3%;
    left: 44%; }
  .pom-instruction,
  .stop-instruction {
    bottom: 51%;
    left: 44%;
    font-size: 1.2rem;
    font-family: daybold;
    color: azure; }
  .track-poms {
    margin: 2rem 0 0 0;
    font-size: 2rem; }
  .summary {
    left: 47%;
    top: 41%;
    margin: -5rem 0 0 -5rem; } }

@media screen and (max-height: 668px) {
  .summary {
    left: 47%;
    top: 50%;
    margin: -5rem 0 0 -5rem; } }
