.pom-instruction {
}

img {
  cursor: pointer;
}
i {
  cursor: pointer;
}

.modal-timer {
  z-index: 1;
  background-color: #fed2bf;
  padding: 1rem;
  position: absolute;
  text-align: center;
  animation: fadein 1s;
}

.fa-hand-paper {
  font-size: 4rem;
}

.fa-hand-paper:hover {
  color: rgb(131, 52, 52);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

i {
  font-size: 2rem;
}
