.data-point {
  cursor: pointer;
}

.area-data-details {
  font-family: daybold;
  font-size: 1.5rem;
  padding: 0.2rem;
  color: bisque;
  border: 3px dotted rgb(176, 176, 247);
  background-color: rgb(203, 132, 132);
  border-radius: 0.5rem;
}

text {
  font-size: 1.2rem;
  font-family: daybold;
}
