.App {
  display: flex;
  align-content: center;
  flex-direction: column; }

.logos {
  flex-direction: column;
  display: flex;
  align-items: center; }

.required-logo {
  margin: 6rem 0; }

.connect-logo {
  opacity: 1;
  cursor: pointer; }

.connect-logo:hover {
  filter: brightness(150%); }

.strava-powered:hover {
  filter: grayscale(15%); }

.fa-strava {
  font-size: 3rem;
  color: #fc4c01; }

.fa-strava:hover {
  filter: brightness(150%); }

.spinning-globe {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 3rem auto;
  background: center/cover url(../../images/earth.png);
  box-shadow: inset 0 0 25px #b07979;
  animation: world 35s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a49188; }

.spinning-globe:hover {
  box-shadow: inset 0 0 25px #8b4242; }

@keyframes world {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 719px 0; } }

.header {
  display: flex; }

.fa-sign-in-alt {
  align-self: center;
  color: #fc4c01; }

.avatar {
  cursor: pointer; }
