.connect-logo {
  opacity: 1;
  cursor: pointer;
}

.connect-logo:hover {
  filter: brightness(150%);
}

.strava-powered:hover {
  filter: grayscale(15%);
}

.fa-strava {
  font-size: 3rem;
  color: #fc4c01;
}
.fa-strava:hover {
  filter: brightness(150%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
