html {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgb(254, 210, 191);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: veraja;
  src: url('./fonts/Veraja.ttf');
}

@font-face {
  font-family: daybold;
  src: url('./fonts/Daybold.otf');
}
