html {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgb(254, 210, 191);
  background-image: url('https://orig00.deviantart.net/d41f/f/2016/035/e/f/firewatch_inspired_art_by_rizzlepixs-d9qhibd.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: veraja;
  src: url('./fonts/Veraja.ttf');
}

@font-face {
  font-family: daybold;
  src: url('./fonts/Daybold.otf');
}
